@model devNXT.Models.UserProfile

<div class="container " style="border: 2px solid gray; margin-top: 50px;">
    @using (Html.BeginForm())
    {

        <div class="row mt-2 justify-content-center">
            <h2 class="col-1 p-0">Login</h2>
        </div>
        <div class="row justify-content-center" style="margin-top:40px;">
            <label class="col-md-1 p-0">UserName* :</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top:10px;">
            <label class="col-md-1 p-0">Password* :</label>
            <div class="col-md-2">

                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)

            </div>
        </div>
        <div class="row error">
            @if (@ViewBag.Failedcount != null)
            {

                <label class="text-center"> Failed Attempt count is: @ViewBag.Failedcount</label>
            }

            @if (@ViewBag.NotValidUser != null)
            {

                <label class="text-center"> @ViewBag.NotValidUser</label>
            }
        </div>
        <div class="row justify-content-center" style="margin-top:30px;margin-bottom:10px;">
                <input type="submit" value="Login" class="col-1 btn btn-primary" />
        </div>
    }
</div>
